# Core
pandas
numpy
scipy
tqdm
joblib

# Visualization
matplotlib
wordcloud

# NLP & Text Preprocessing
nltk
spacy
emoji

# Machine Learning
scikit-learn
umap-learn
shap

# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# Transformers Ecosystem
transformers
datasets
accelerate
evaluate

xgboost
